/**
 * Fieldmanager Gallery
 */

.fm-gallery {
	overflow: auto;
	zoom: 1;
}

.fm-gallery .gallery-wrapper {
	margin: 15px 0;
}

.fm-gallery .gallery-item {
	float: left;
	text-align: center;
	width: 33%;
	height: 180px;
}

.fm-gallery .gallery-item img {
	max-width: 95%;
	width: auto;
	height: auto;
}
